<h2>
    {{string.select}} {{view.name}} {{string.to-change}}.
    <a href="#" class="glyphicon glyphicon-filter" title="{{string.filter}}"></a>
    {{^view.readonly}}
    <a href="{{root}}/{{view.slug}}/add" class="btn btn-default">{{string.add}} {{view.name}}</a>
    {{/view.readonly}}
</h2>

{{#show.success}}
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>{{string.success}}:</strong> {{string.saved}}.
</div>
{{/show.success}}

{{#show.error}}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>{{string.error}}:</strong> {{show.error}}.
</div>
{{/show.error}}

{{>filter}}

<table class="table  table-bordered table-striped table-hover x-table">
    <thead>
    <tr class="label-default">
        {{#view.selectAll}}
        <th style="width: 10px;"><input id="select-all" type="checkbox"/></th>
        {{/view.selectAll}}
        {{#columns}}
        <th>{{.}}</th>
        {{/columns}}
    </tr>
    </thead>
    <tbody>
    {{#records}}
    <tr>
        {{#pk}}
        {{#view.readonly}}
        <td>{{text}}</td>
        {{/view.readonly}}
        {{^view.readonly}}
        {{#view.selectAll}}
        <td class="checkbox-toggle"><input type="checkbox" name="batch" value="{{id}}"/></td>
        {{/view.selectAll}}
        <td><a href="{{root}}/{{view.slug}}/{{id}}">{{text}}</a></td>
        {{/view.readonly}}
        {{/pk}}
        {{#values}}
        <td>
            {{^mtm}}{{.}}{{/mtm}}
            {{#mtm}}<span class="label label-default">{{.}}</span>{{/mtm}}
        </td>
        {{/values}}
    </tr>
    {{/records}}
    </tbody>
</table>
<h2>
    {{^view.readonly}}
    {{#view.selectAll}}
    <a id="" href="javascript:void(0)" class="btn btn-default batch-edit">{{string.batch-to-change}}</a>
    {{/view.selectAll}}
    {{/view.readonly}}
</h2>
{{>pagination}}
